@media only screen and (min-width: 64rem) {

    
    
    #header-button {
        position: absolute;
        top: 0px;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.09);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.4px);
        -webkit-backdrop-filter: blur(2.4px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        width: 100%;
        height: 17%;
        font-size: 1rem;   
    }

    #header-button button{
        color: #fff;
        background-color: #FE4F00;
        border: none;
        padding: 12px;
        border-radius: 4px;
        right: 0;
        position: absolute;
        cursor: pointer;
        font-weight: bold;
        right: 15%;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-box-shadow:0px 0px 20px 0px rgba(254,80,0,1);
        -moz-box-shadow: 0px 0px 20px 0px rgba(254,80,0,1);
        box-shadow: 0px 0px 20px 0px rgba(254,80,0,1);
        }

        #image-logo {
            width: 18%;
            grid-column: 1/2;
            grid-row: 1/2;
            z-index: 1;
            margin-top: 10%;
            margin-left: 10%;
        }

        #slogan h1 {

            font-size: 2.1rem;
            margin-top: -9%;
            margin-left: 5%;
            width: 40%;
    
        }

        #slogan p{
            margin-left: 5%;
            font-weight: 300;
            width: 35%;
            font-size: 1.3rem;
            margin-top: -1%;
        }

        form{
         z-index: 1;
         grid-column: 1/2;
         grid-row: 1/2;
         margin-top: 32%;
         margin-left: 6%;

        }


        form fieldset{
            border: none;
            background-color: transparent;
            margin: 0;
            }

            form label.top input, form label.top select {
                -webkit-appearance: none;
                display: block;
                font-size: 1rem;
                border: solid 2px #FE4F00;
                border-radius: 4px;
                padding: .55rem;
                color: #fff;
                width: 100%;
                max-width: 18rem;
                background-color: transparent;
            }

            form input.submitBtn {
                border: none;
                color: #fff;
                background-color: #FE4F00;
                -webkit-box-shadow:0px 0px 20px 0px rgba(254,80,0,1);
                -moz-box-shadow: 0px 0px 20px 0px rgba(254,80,0,1);
                 box-shadow: 0px 0px 20px 0px rgba(254,80,0,1);
                 padding: 8px;
                 width: 100%;
                 max-width: 18rem;
                 border-radius: 4px;
                 cursor: pointer;
                 margin-left: 3%;
                 font-size: 1.1rem;
                 margin-top: 1%;
            }

            #container1{
                width: 54rem;
                margin: 0 auto;
                position: relative;
                z-index: 1;
                bottom: 100px;
                border-radius: 25px;
                border: 6px solid #F6F6F6;
            }

            #container1 p{
                text-align: center;
                font-size: 1.8rem;
            }

            #container2{
                background-color: #F6F6F6;
                max-width: 64rem;
                margin: 0 auto;
                margin-top: -22%;
                z-index: -1;
                position: relative;
                padding-bottom: 60px;
                padding-top: 20px;
            }

            #container2 h2{
                margin: 0 auto;
                width: 70%;
                padding-top: 230px;
                font-size: 2rem;
                
            }

            #container2 p{
                position: relative;
                padding-top: 5%;
                left: 11%;
            }

            #subcontainer2-1{
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-top: 5%;
                width: 90%;
                column-gap: 80px;
                margin-left: 16%;
            
            }

            #subcontainer2-1 img{
                width: 10%;
            }

            #subcontainer2-1 h3{
                margin-top: -1%;
            }
            
            #subcontainer2-1 ul{
                margin-top: -7%;
            }

            #subcontainer2-1 ul li{
                font-size: 1.5rem;
                margin-left: -5%;
            }

            #subcontainer3-1{
                display: grid;
                grid-template-columns: 1fr;
                margin-top: -2%;
                
                }

                #arrow{
                    width: 60px;
                    height: 70px;
                    border-radius: 60%;
                    background-color: #fff;
                    text-align: center;
                    margin: 0 auto;
                    position: relative;
                    z-index: 1;
                    font-size: 5rem;
                    font-weight: bolder;
                    color:#FE4F00;
                    margin-top: 1%;
                  
                }

                @keyframes MoveUpDown {
                    0%, 100% {
                      bottom: 35px;
                    }
                    50% {
                      bottom: 40px;
                    }
                  }

                  #arrow span{

                    animation: MoveUpDown 1s linear infinite;
                    bottom: 1%;
                    position: relative;
                    }

                    #part1{
                        grid-column: 1/2;
                        grid-row: 1/2;
                        position: relative;
                        z-index: 1;
                        margin-top: -25%;
                        margin-left: 20%;
                    }

                    #part1 h3{
                        font-size: 3rem;
                        width: 85%;
                        position: relative;
                        top: 2%;
                    }

                    #part1 img{
                        width: 80%;
                        margin-left: 16%;
                    }

                    #part2{
                        grid-column: 1/2;
                        grid-row: 1/2;
                        position: relative;
                        z-index: 1;
                        background-color: transparent;
                        margin-left: 37%;
                        top: 16%;
                        
                    }

                    #part2 p{
                        text-align: left;
                        font-size: 1.2rem;
                        width: 70%;
                        padding: 0;
                        margin-left: 1%;

                    }

                    #part2 button{
                        color: #fff;
                        background-color: #FE4F00;
                        border: none;
                        padding: 14px;
                        border-radius: 4px;
                        cursor: pointer;
                        font-weight: bold;
                        margin:0 auto;
                        -webkit-box-shadow:0px 0px 20px 0px rgba(254,80,0,1);
                        -moz-box-shadow: 0px 0px 20px 0px rgba(254,80,0,1);
                        box-shadow: 0px 0px 20px 0px rgba(254,80,0,1);
                        font-size: 1.2rem;
                        margin-top: -1%;
                        margin-bottom: 4%;
                        position: relative;
                        margin-left: 5%;
                        }

                        #companhia {
                            display: flex;
                            align-items: center;
                        
                        }

                        #subcontainer4-1 h3{
                            
                            font-size: 2.5rem;
                            margin-left: 4%;
                           
                        }

                        #subcontainer4-1 hr{
                            width: 45%;
                            height: 2px;
                            margin-left: 0%;
                        }


                        #subcontainer4-2{
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            margin: 0 auto;
                            padding-top: 80px;
                            
                            }
                            
                            #subcontainer4-2 div{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 70px;
                                width: 80%;
                                margin: 0 auto;
                                padding: 20px;
                                }
                            
                            
                            #subcontainer4-2 img{
                              width: 50%;
                              margin: 0 auto;


                              
                            }

                            #audivida{
                                position: relative;
                                top: 48px;
                                right: 5%;
                            }

                            #cemiterio{
                                position: relative;
                                bottom: 12%;
                            }

                            #footer-logo{
                                width: 18%;
                                padding-top: 15px;
                                }
                                

                         


                        
                               
                    
















}