@media only screen and (min-width: 35rem) {


    #header-button {


        font-size: 1rem;
        height: 7%;
    }


    #header-button button {
        padding: 6px;
        border-radius: 4px;
    }

    #slogan h1 {

        font-size: 1.5rem;

        width: 50%;

    }

    #slogan p{
        font-size: 1.1rem;
        width: 45%;
      }

    form label{
        margin-left: 3%;
    }


      form label.top{
        display: block;
        padding-top: .5rem;
        color: #fff;
        font-size: .9rem;
    }


    form label.top input, form label.top select {
        -webkit-appearance: none;
        display: block;
        font-size: 1rem;
        border-radius: 4px;
        padding: 1.2rem;
        color: #fff;
        width: 100%;
        max-width: 23rem;
        background-color: #36333C;
    }

    form input.submitBtn {
        border: none;
        color: #fff;
        background-color: #FE4F00;
        -webkit-box-shadow:0px 0px 20px 0px rgba(254,80,0,1);
        -moz-box-shadow: 0px 0px 20px 0px rgba(254,80,0,1);
         box-shadow: 0px 0px 20px 0px rgba(254,80,0,1);
         padding: 8px;
         margin-top: 5%;
         width: 40%;
         border-radius: 4px;
         cursor: pointer;
         margin-bottom: 10%;
         margin-left: 3%;
         font-size: 1.1rem;
    }

    #container1 img{
        width: 30%;
       
       }

       #container1 p{
        font-size: 1.5rem;
        margin-top: -5%;
    }

    #container2{
        background-color: #F6F6F6;
        margin: 30px;
        margin-top: -4px;
        z-index: 3;
        position: relative;
        padding-bottom: 60px;
    }

    #container2 h2{
        font-size: 1.8rem;
        text-align: left;
        margin: 40px;
    
    }

    #container2 p{
        text-align: left;
        margin: auto;
        margin: 40px;
        font-size: 1.6rem;
        margin-top: -3%;
    }

    #subcontainer2-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 5%;
        width: 90%;
        margin: auto;
        column-gap: 120px;
    
    }

    #subcontainer2-1 img{
        width: 18%;
    }

    #subcontainer2-1 h3{
        margin-top: -2%;
        font-size: 2rem;
    }

    #subcontainer2-1 ul{
        margin-top: -7%;
    }
    
    #subcontainer2-1 ul li{
        font-size: 1.5rem;
        margin-left: -6%;
    }

    #arrow{
        width: 70px;
        height: 70px;
        border-radius: 70%;
        background-color: #fff;
        text-align: center;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        font-size: 4rem;
        font-weight: bolder;
        color:#FE4F00;
      
    }

    #subcontainer3-1{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: -3%;
        
        }

        #arrow span{

            animation: MoveUpDown 1s linear infinite;
            bottom: 10%;
            position: relative;
            }

            @keyframes MoveUpDown {
                0%, 100% {
                  bottom: 10px;
                }
                50% {
                  bottom: 20px;
                }
              }


              #part1 h3{
                font-size: 2rem;
                color: #fff;
                grid-column: 2/3;
                grid-row: 1/2;
                margin: auto;
                margin-left: -28%;
                width: 70%;
            }

            #part2 p{
                text-align: center;
                font-size: 1.5rem;

            }

            #part2 div{
                margin: 40px;
            }

            #part2 button{
                color: #fff;
                background-color: #FE4F00;
                border: none;
                padding: 8px;
                border-radius: 4px;
                cursor: pointer;
                font-weight: bold;
                margin:0 auto;
                -webkit-box-shadow:0px 0px 20px 0px rgba(254,80,0,1);
                -moz-box-shadow: 0px 0px 20px 0px rgba(254,80,0,1);
                box-shadow: 0px 0px 20px 0px rgba(254,80,0,1);
                font-size: 1.2rem;
                margin-top: -1%;
                margin-bottom: 4%;
                }

                #companhia {
                    display: flex;
                    align-items: center;
                
                }

                #subcontainer4-1 h3{
                    color: #36333C;
                  
                    font-size: 1.8rem;
                   
                }

                #subcontainer4-1 hr{
                    background-color: #36333C;
                    width: 40%;
                    height: 1px;
                
                }

                #audivida{
                    margin-left: -6%;
                }

                #container4 button{
                    color: #fff;
                    background-color: #FE4F00;
                    border: none;
                    padding: 10px;
                    border-radius: 4px;
                    cursor: pointer;
                    font-weight: bold;
                    margin:0 auto;
                    -webkit-box-shadow:0px 0px 20px 0px rgba(254,80,0,1);
                    -moz-box-shadow: 0px 0px 20px 0px rgba(254,80,0,1);
                    box-shadow: 0px 0px 20px 0px rgba(254,80,0,1);
                    margin-top: 8%;
                    font-size: 1.2rem;
                    }

                    footer{
                        
                        font-size: 1.1rem;
                    }








}