


/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Sora', sans-serif;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* --- HEADER --- */
header {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
}

#image-back {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
}

#image-logo {
    width: 40%;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    margin-top: 12%;
    margin-left: 5%;
}

#header-button {
    position: absolute;
    top: 0px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.09);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.4px);
    -webkit-backdrop-filter: blur(2.4px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 5%;
    font-size: .5rem;   
}

#header-button button{
color: #fff;
background-color: #FE4F00;
border: none;
padding: 6px;
border-radius: 4px;
right: 0;
position: absolute;
cursor: pointer;
font-weight: bold;
margin-right: 8%;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
-webkit-box-shadow:0px 0px 20px 0px rgba(254,80,0,1);
-moz-box-shadow: 0px 0px 20px 0px rgba(254,80,0,1);
box-shadow: 0px 0px 20px 0px rgba(254,80,0,1);
}

#slogan {
    z-index: 1;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 5%;
    margin-top: 25%;
    
  }

  #slogan h1 {
    color: #fff;
    font-size: .8rem;
    font-weight: bold;
    width: 60%;

  }

  #slogan p{
    color: #fff;
    font-size: .6rem;
    font-weight: 500;
    width: 60%;
  }

  form fieldset{
  border: none;
  background-color: #36333C;
  margin: 0;
  }

  form label{
    margin-left: 2%;
  }

  form label.top{
    display: block;
    padding-top: 1rem;
    color: #fff;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: .7rem;
    border: solid 2px #FE4F00;
    border-radius: 4px;
    padding: .75rem;
    color: #fff;
    width: 100%;
    max-width: 20rem;
    background-color: #36333C;
}

form input.submitBtn {
    border: none;
    color: #fff;
    background-color: #FE4F00;
    -webkit-box-shadow:0px 0px 20px 0px rgba(254,80,0,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(254,80,0,1);
     box-shadow: 0px 0px 20px 0px rgba(254,80,0,1);
     padding: 6px;
     margin-top: 5%;
     width: 70%;
     border-radius: 4px;
     cursor: pointer;
     margin-bottom: 10%;
     margin-left: 2%;
}

#container1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #36333C;
    border-radius: 15px;
    border: 4px solid #fff;
    position: relative;
    margin-top: -4%;
    z-index: 2;
}


#container1 div{
    display: flex;
    flex-direction: column;
}



#container1 p{
    font-size: .8rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: -5%;

}

#container1 img{
 width: 40%;
 margin-left: auto;
 margin-right: auto;

}

#image-bor{
    border-left: 1px solid #7d7a83;
    border-right: 1px solid #7d7a83;
}

#container2{
    background-color: #F6F6F6;
    margin: 15px;
    margin-top: -1%;
    z-index: 3;
    position: relative;
    padding-bottom: 5px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: -8px 15px 10px -12px #111;
}



#container2 h2{
    font-size: 1rem;
    text-align: left;
    margin: 12px;

}

#container2 p{
    text-align: left;
    margin: auto;
    margin: 12px;
}

#subcontainer2-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%;
    width: 90%;
    margin: auto;
    column-gap: 35px;
    color: #36333C;

}

#subcontainer2-1 img{
    width: 18%;
}

#subcontainer2-1 div{
    display: flex;
    flex-direction: column;
    text-align: left;
}

#subcontainer2-1 h3{
    margin-top: -2%;
}

#subcontainer2-1 ul{
    margin-top: -10%;
}

#subcontainer2-1 ul li{
    font-size: .9rem;
    margin-left: -25%;
}

#subcontainer3-1{
display: grid;
grid-template-columns: 1fr;
margin-top: -5%;

}

#imagem-meio{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    position: relative;
    z-index: -1;
} 

#part1{
display: grid;
grid-template-columns: 1fr 1fr;
position: relative;
grid-column: 1/2;
grid-row: 1/2;
}

#part1 h3{
    font-size: 1.3rem;
    color: #fff;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: auto;
    margin-left: -28%;
}

#selo{
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: auto;

}

#part2{
    grid-column: 1/2;
    grid-row: 2/3;
    color: #fff;
    background-color: #36333C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

#part2 p{
    text-align: center;

}

#part2 div{
    margin: 12px;
}

#part2 button{
color: #fff;
background-color: #FE4F00;
border: none;
padding: 6px;
border-radius: 4px;
cursor: pointer;
font-weight: bold;
margin:0 auto;
-webkit-box-shadow:0px 0px 20px 0px rgba(254,80,0,1);
-moz-box-shadow: 0px 0px 20px 0px rgba(254,80,0,1);
box-shadow: 0px 0px 20px 0px rgba(254,80,0,1);
}


#arrow{
    width: 40px;
    height: 50px;
    border-radius: 70%;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    font-size: 3rem;
    font-weight: bolder;
    color:#FE4F00;
  
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 10px;
    }
    50% {
      bottom: 20px;
    }
  }

#arrow span{

animation: MoveUpDown 1s linear infinite;
bottom: 10%;
position: relative;
}

#container4{
display: grid;
grid-template-columns: 1fr;
margin-top: 5%;
}

#subcontainer4-1{
    display: grid;
    grid-template-columns: 1fr;
}


#companhia {
    display: flex;
    align-items: center;

}
#subcontainer4-1 h3{
    color: #36333C;
    font-size: 1rem;
    margin: 12px;

}

#subcontainer4-1 hr{
    background-color: #36333C;
    width: 24%;





}

#subcontainer4-2{
display: grid;
grid-template-columns: 1fr;
}

#subcontainer4-2 div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
}


#subcontainer4-2 img{
  width: 50%;

}

#audivida{
    margin-top: 19%;
}

#container4 button{
color: #fff;
background-color: #FE4F00;
border: none;
padding: 10px;
border-radius: 4px;
cursor: pointer;
font-weight: bold;
margin:0 auto;
-webkit-box-shadow:0px 0px 20px 0px rgba(254,80,0,1);
-moz-box-shadow: 0px 0px 20px 0px rgba(254,80,0,1);
box-shadow: 0px 0px 20px 0px rgba(254,80,0,1);
margin-top: 8%;
}

footer{
    color: #fff;
    background-color: #36333C;
    text-align: center;
    padding: 20px;
    margin-top: 15%;
    font-size: .8rem;
}

#footer-logo{
width: 40%;
}


#header-button button:hover{
    color: #000;                 
}

#part2 button:hover{
    color: #000;    
    }

    #container4 button:hover{
        color: #000;    
        }


        form input.submitBtn:hover {
            color: #000;    
        }


        @keyframes glow {
            from {
              text-shadow: 0 0 10px rgb(213, 244, 16);
            }
            to {
              text-shadow: 0 0 20px rgba(255, 255, 0, 0.944), 0 0 10px #f2ff02;
            }
          }


          @media (prefers-color-scheme: light) {
            body {
              background-color: #010101; 
              color: #f0ece2;
            }
          
            #container2{
                position: relative;
                z-index: 3;
            }
         
          
            img {
              filter: brightness(0.9);
            }

            footer{
                background-color: #7d7a83;
            }

            
          
          }

          

    
          
        

        
 
        