@media only screen and (min-width: 64rem) {

    #slogan1 h1 {
        line-height: 10px;
        font-size: 4rem;
    }

    #slogan1 p {
        font-size: 1.5rem;
        width: 50%;
        margin: 0;
    }

    div .button {
        padding: 10px;
        height: 60px;
        font-size: 1.3rem;
        width: 35%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 4px;

    }

    #button-with-arrow>a {
        left: 32%;
        height: 70px;
         width: 70px;
    }

    #button-with-arrow a::after {
        font-size: 3.3rem;
      }

      @-webkit-keyframes run {
        0% {
            left: 31%;
        }

        50% {
            left: 32%;
        }

        100% {
            left: 31%;
        }
    }

    #container1 {
        
        padding-bottom: 100px;
    }

    #subcontainer1 h2 {

        margin-left: 18%;
        font-size: 2.1rem;
        width: 50%;
    }

    #beleza {
        width: 18%;
    }

    #estrela {
        width: 26%;
    }

    #subcontainer3 {
        
        margin-top: 9%;
      
      }

      #subcontainer2 p {
        font-size: 1.2rem;
        width: 80%;
    }

    #subcontainer3 p {
        font-size: 1.2rem;
        width: 80%;
    }

    #title1 {

        font-size: 1.5rem;
        font-weight: 500;

      }
    
      #title2 {
        font-size: 2rem;
        width: 60%;
        font-weight: 500;
      }

      #modules {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0 auto;
        margin-top: 5%;
        width: 80%;
        
      }

      #modules .module-container {
        display: grid;
        grid-template-columns: 1fr;
        margin: -2%;
      
      }
      
      
      .module-container .number {
        font-size: 2.5rem;
        margin-top: 4%;
      }

      .module-container ul {
        margin-top: 1%;
        margin-left: 35px;
      }

      .module-description {
        font-size: 1rem;
        width: 70%;
      }

      #results {
        font-size: 1.5rem;
      }

      #results2{
        font-size: 2rem;
      }

      #subcontainer4-4{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;

      }

      .meusSlides img{
        width: 100%;
        border: 3px solid #fff;
        border-radius: 10px;
        margin: auto;
      }

      #mudança{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      #mudança p{
        width: 80%;
       
      }

      #container4{
        margin-bottom: -20%;
      }

 


      .dot {

        height: 25px;
        width: 25px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        margin: auto;
        
      }

      .active {
        background-color: #C361C2;
      }

   

      .circles {
        width: 20px;
        height: 20px;
        margin: 22px;
      }

      #many-circles {
        margin-left: 6%;
      }

      #remove {
        font-size: 3rem;
      
      }
      
      #remove1 {
        font-size: 3rem;
      }

      #arrow-appear {
        margin-top: -4%;
        font-size: 2rem;
      }

      #container5-title {
        font-size: 2rem;
        font-weight: 400;
      }


      #incluso-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
      
      }

      #incluso-subcontent2 {
        display: block;
        margin: auto;
        width: 70%;
        margin-bottom: 10%;

      
      }

      #incluso-subcontent1 {
        display: grid;
        background-color: #D5D2E4;
        font-family: 'Montserrat', sans-serif;
        width: 65%;
        height: 75%;
        margin: auto;
        border-radius: 8%;
      }

      #incluso-subcontent1 img {
        
        width: 30%;
      }

      #incluso-subcontent1 div{
        width: 75%;
        margin-left: 10%;
      }

      #incluso-subcontent1 .group{
        display: flex;
        align-items: center;
      }



      #incluso-subcontent1 p {
        font-weight: 700;
        font-size: 1.1rem;
        text-align: left;
      
      }

      #incluso-subcontent2 h2 {

       
        color: #fff;
        width: 90%;
        font-size: 3.3rem;
        font-weight: 500;
        grid-column: 1/2;
        grid-row: 1/2;
      }
      
      
      
      #incluso-subcontent2 p {
      
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.8rem;
        color: #C361C2;
        width: 75%;
        position: relative;
      
      
      }
      
  

      
      #button-with-arrow1>a {
        left: 64%;
        height: 70px;
         width: 70px;
    }

    #button-with-arrow1 a::after {

       
       
        font-size: 3.3rem;
       
      
      }

      #button-with-arrow1 {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        margin-top: -5%;
        
      }

      #button-with-arrow1 .button {
        width: 70%;
      }

      @-webkit-keyframes run1 {
        0% {
          left: 62%;
        }
      
        50% {
          left: 64%;
        }
      
        100% {
          left: 62%;
        }
      }

      #container6{
        margin-top: -2%;
        padding: 20px;
      }

      #container6 img {
        width: 16%;
        margin-left: 15%;
      
      }

      #container6 h2 {
        font-size: 1.9rem;
        margin-left: -22%;
        margin-top: 4%;
      }

      #container6 ul {
        margin-left: -25%;
        margin-top: -2%;
      }

      #container6 ul li {

        font-size: 1.3rem;
        line-height: 25px;
      
      
      }

      #container7 p {

        font-size: 1rem;
        font-weight: 600;
        margin-left: 5%;
        margin-top: 3%;
      }
      
      #container7 h2 {
  
        font-size: 1.8rem;
        margin-left: 5%;
        margin-top: -1%;
        font-weight: 500;
      }

      #container7 .w3-left,
      .w3-right,
      .w3-badge {
      
        font-size: 2.2rem;
        margin-top: 8%;
      }
  
      #image-back2 img {
        width: 90%;
        z-index: 1;
        border-radius: 10px;
        border: #fff 10px solid;
        box-shadow: 2px 2px 15px black;
      }

      #image-back2 {
      margin: 0 auto;
      }

      #container8 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #fff;
      }

      #subcontainer8 {
        grid-column: 1/2;
        grid-row: 1/2;
      
      }

      #subcontainer8-1 {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-top: 0%;
      }

      #subcontainer8-1 h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 3rem;
        line-height: 5px;
        font-weight: 500;
        color: #000000e1;
        text-align: left;
      }
      
      #subcontainer8-1 p {
        font-family: 'Raleway', sans-serif;
        font-size: 1.1rem;
        font-weight: 600;
        background-color: #fff;
        width: 80%;
        text-align: left;
      
      
      }

      #container9{

        display: grid;
        grid-template-columns: 100px 1fr 1fr 1fr 100px;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      #container9 img {
        width: 21%;
 
      }

      #container9 .subcontainer9{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      }

      #container .subcontainer9 div{
         display: grid;
         grid-template-columns: 1fr;
      }

      #alunas {
        position: relative;
        left: 2%;
      }
      


      #container9 p {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        font-weight: 600;
        margin-top: -18%;
        margin-left: 10%;
        width: 100%;
  
      
      
      }
      
      #container9 h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.9rem;
        margin-left: 10%;
        
      
      }

      #container10{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 80px);
      }

      #block {
        
        background: linear-gradient(90deg, rgba(165, 149, 237, 1) 0%, rgba(51, 51, 51, 1) 80%);
        grid-column: 4/9;
        grid-row: 3/11;
        border-radius: 40px;
        width: 100%;
        height: 100%;
        display: grid;
      }

      #subcontainer10 {
        background: linear-gradient(90deg, rgba(51, 51, 51, 0.5) 0%, rgba(195, 97, 194, 0.8) 80%);
        grid-row: 6/12;
        grid-column: 1/14;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        margin: 0 auto;
        bottom: 7%;

      }

    #subcontainer10-1{
      display: grid;
      grid-column: 2/7;
      grid-row: 2/12;
    }

    #subcontainer10-2{
      display: block;
      grid-column: 7/11;
      grid-row: 2/12;

    }

    
  #subcontainer10-1 p {
    font-size: 1.3rem;
    margin-left: 50px;
    position: relative;
    top: 20%;
  }
  
  #subcontainer10-1 h3 {
    font-size: 2rem;
    width: 70%;
    margin-left: 50px;
    margin-top: -15px;
  }
  
  #subcontainer10-1 ul li {
    font-size: 1.1rem;
    line-height: 30px;
  }

  #subcontainer10-1 ul {
    margin-left: 4px;
  }

 

  #vezes {
    font-size: 1.8rem;
  }

  #vezes strong{
   font-size: 3.5rem;
  }
  
  #a-vista {
    font-size: 1.8rem;
  }

  #subcontainer10-2 img {
    width: 100%;
    margin-left: 0;
  }

  
  
#button-with-arrow2>a {
  left: 78%;
  height: 70px;
  width: 70px;
}

#button-with-arrow2 .button {
  width: 70%;
}

#button-with-arrow2 a::after {
  font-size: 3.3rem;
}

#button-with-arrow2 {
margin-top: 14%;
}




#button-with-arrow2:hover>a {
  -webkit-animation: linear infinite;
  -webkit-animation-name: run2;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes run2 {
  0% {
    left: 77%;
  }

  50% {
    left: 78%;
  }

  100% {
    left: 77%;
  }
}


#container11 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 10%;
  margin: 10%;
}

#subcontainer11-1 {
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin: auto;
}



#subcontainer11-2{
  margin: auto;
}

#subcontainer11-1 p {
  font-family: 'Montserrat', sans-serif;
  color: #C361C2;
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: -20%;
  margin-top: -1%;
  
}

#subcontainer11-1 h3 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: -4%;
  margin-left: -20%;
 

}


#subcontainer11-1 img {
  width: 60%;
}

#subcontainer11-2 p{
font-size: 1.1rem;
}



#container11 hr{
  grid-column: 1/3;
  margin-top: 15%;
}

#container12 {
  display: grid;
  grid-column: 1fr 1fr;
  margin-top: 6%;
}

#subcontainer12-1{
  margin-top: 10%;
}

#subcontainer12-1 h3{
 margin-top: 9%;
}

.question{
  width: 80%;
}



#image-faq {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  grid-column: 1/2;
  grid-row: 1/2;

}


.question label {
  font-weight: 600;
}

.answer{
  font-size: 1.2rem;
  font-weight: 400;
}

#subcontainer12-2 {
  margin-top: 10%;
  grid-column: 2/3;
  grid-row: 1/2;
}


#button-with-arrow3>a {
  left: 47%;
  top: 4%;
  height: 70px;
  width: 70px;
}

#button-with-arrow3 .button {
  width: 50%;
}

#button-with-arrow3 a::after {
  font-size: 3.3rem;
}

#button-with-arrow3 {
margin-top: 4%;
}




#button-with-arrow3:hover>a {
  -webkit-animation: linear infinite;
  -webkit-animation-name: run3;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes run3 {
  0% {
    left: 47%;
  }

  50% {
    left: 48%;
  }

  100% {
    left: 47%;
  }
}

#footer-logo{
width: 30%;
margin-top: 10px;
}

#social img{
width: 3%;
margin-top: 15px;
}

#incluso-subcontent1 #certificate-img{
  width: 35%;
  margin-top: -13%;
}



    





}