@media only screen and (min-width: 35rem) {
    #slogan1 h1{
       
        font-size: 2.2rem;  
    }
    
    #slogan1 p{
  
        font-size: 1rem;
       
    }


    .button
{
    padding: 15px;
    font-size: .8rem;
    
}

#subcontainer1 h2{
    
    margin-left: 17%;
    font-size: 1.4rem;
  }

  #subcontainer2 img{
    
    margin-top: 5%;
    
  }

  #subcontainer3 img{
    
    margin-top: 16%;
  }

  #subcontainer2 p{

    font-size: 1rem;
    margin-top: -10%;  
  }

  #subcontainer3 p{
  
    font-size: 1rem;
    
   
  }
   
  #title1{
    
    font-weight: 500;
    font-size: .8rem;
   
    
    
    
  }
   

  #subcontainer4{
    width: 35%;
    
    
  }
  #title2{
    
    font-size: 1rem;
   
  }





}