@media only screen and (min-width: 35rem) {
    #slogan1 h1{
       
        font-size: 2.2rem;  
    }
    
    #slogan1 p{
  
        font-size: 1rem;
       
    }


    div .button
{
    padding: 15px;
    width: 30%;
    font-size: .8rem;
    
}

#subcontainer1 h2{
    
    margin-left: 17%;
    font-size: 1.4rem;
  }

  #subcontainer2 img{
    
    margin-top: 5%;
    
  }

  #subcontainer3 img{
    
    margin-top: 16%;
  }

  #subcontainer2 p{

    font-size: 1rem;
    margin-top: -10%;  
  }

  #subcontainer3 p{
  
    font-size: 1rem;
    
   
  }
   
  #title1{
    
   
    font-size: .8rem;
   
    
    
    
  }
   

  #subcontainer4{
    width: 35%;
    
    
  }
  #title2{
    
    font-size: 1rem;
   
  }

  #modules{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px;
    gap: 8px;
  }


  .module-description{
    font-size: 0.7rem;
  }
  
  .module-container li{
    font-size: 0.7rem;
    
  
  }

  .module-container p{
    font-size: 0.7rem;
    
  }

  .module-container .number{
    margin-top: 10px;
    font-size: 1.6rem;
    
   }
   
   .module-container .module-title{
        
    font-size: 0.6rem;
    
   }

   #results{
    
    font-size: 1.3rem;
    
    
  }

  #remove{
  
    font-size: 1.3rem;
    font-weight: 400;
  
  }
  
  #remove1{
 
    font-size: 1.3rem;
    font-weight: bolder;
  }
  
  #queloide-info{
    line-height: 4px;
    margin-left: 65%;
    margin-top: -15%;
  }

  .circles{
    
    width: 12px;
    height: 12px;
    margin: 10px;
    
    
   
  }

  #many-circles{
    margin-left: 7%;
    width: 20%;
  }

  #remove{
  
    font-size: 1.8rem;
    
  
  }
  
  #remove1{
    
    font-size: 1.8rem;
    
  }
  
  #queloide-info{
    line-height: 5px;
    margin-left: 65%;
    margin-top: -18%;
  }

  #container5-title{
   
    font-size: 1.3rem;
    margin-top: 20%;
    
    width: 50%;
  }
  
  #arrow-appear{
    
    font-size: 1.2rem;
    margin-top: -4%;
    margin-left: 9%;
   
  }

  #incluso-subcontent1{
    
    font-size: .7rem;
    width: 90%;
    height: 90%;
    padding: 40px;
    margin-left: 10%;

 
  }

  #incluso-subcontent1 p{
    font-size: 0.8rem;
  }

  #incluso-subcontent1 > div{
    margin-left: 25%;
    width: 80%;
  }
  
  #incluso-subcontent1 img{
    width: 40%;
  }

 

   
  #incluso-subcontent2{
    
   
    margin-left: 15%;

 
  }

    
  #incluso-subcontent2 h2{
    
   
    font-size: 2.3rem;

 
  }
  
  #incluso-subcontent2 p{
    
   
    font-size: 1.3rem;
    margin-top: 12%;

 
  }

  
#container6 h2{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 2rem;
  margin-left: -7%;
  
}

#container6 div{

  margin-left: -40%;
}

#container6 ul li{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 1.2rem;
  
}

#container6 ul{
 margin-left: -13%;
}

#container7 p{
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 5%;
  margin-top: 6%;
}

#container7 h2{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 1.5rem;
  margin-left: 5%;
  margin-top: -3%;
}

#container7 .w3-left, .w3-right, .w3-badge {cursor:pointer;
  font-size: 1.5rem;
  margin-top: 5%;
}

#image-back2 img{
  margin: 0 auto;
  width: 50%;
  z-index: 1;
  border-radius: 10px;
  border: #fff 10px solid;
  box-shadow: 2px 2px 15px black;
  margin-top: 4%;
 }

 #subcontainer8 img{
  width: 120%;
  margin-top: 2%;
}


#subcontainer8-1 h2{

  font-size: 2rem;
  line-height: 5px;
}

#subcontainer8-1 p{

  font-size: 0.9rem;
  width: 90%;
}




#subcontainer8-1{

  margin-top: 3%;
}
   
#container9{
  background-color: #7D6CC7;
  z-index: 2;
  color: #D5D2E4;
  display: flex;
  justify-content: space-around;
  margin-top: -5%;
  position: relative;
}

#container9 .subcontainer9{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

#container9 p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-top: -10%;
 
  
}

#container9 h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-top: 20%;
  
}



#container9 img{
  width: 40%;
  margin-top: 22%;
  margin-lefT: 40%;
}



#block{
  width: 290px;
  height: 300px;
  background: linear-gradient(90deg, rgba(165,149,237,1) 0%, rgba(51,51,51,1) 80%);
  margin-top: 20%;
  border-radius: 15px;
  margin-left: 50%;
}

#subcontainer10{
 
  margin-top: -30%;
}





#subcontainer10-1 p{
  font-family: 'Montserrat', sans-serif;
  color: #C361C2;
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 7%;
  margin-left: 15%;
  
}

#subcontainer10-1 h3{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  width: 60%;
  margin-left: 15%;
  margin-top: -3%;
 
}

#subcontainer10-1 ul span{
  color: #C361C2;
  font-weight: 700;
}

#subcontainer10-1 ul li{
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 0.8rem;
  margin-left: 3%;
}

#subcontainer10-2 img{
  width: 60%;
  margin-top: 5%;
  margin-left: 3%;
}

#vezes {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 1.4rem;
  margin-left: 6%;
  margin-top: 2%;
  
}

#a-vista{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: .9rem;
  margin-left: 11%;
  margin-top: -5%;
}

#subcontainer10-2 button{
  width: 60%;
  margin-left: 4%;
  margin-top: -1%;
}

#subcontainer10-2{
  margin-left: 6%;
}





}