/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }




body {
    margin: 0;
    padding: 0;
  
    
}

header{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;

   
}

#image-back{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;  
}

#image-logo{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    width: 50%;
    margin: 8%;
}

#slogan1{
   z-index: 1;
   grid-column: 1/2;
   grid-row: 1/2;  
   margin: 8%;
   margin-top: 25%;
}

#slogan1 h1{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 10px;
    font-size: 1rem;  
}

#slogan1 p{
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1px;
    color: #fff;
    font-size: .5rem;
    font-weight: 300;
}

.button
{
    background-color: #fff;
    border: none;
    font-family: 'Montserrat', sans-serif;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
    color:black;
    font-weight: 700;
    cursor: pointer;
    width: 40%;
    font-size: .4rem;  
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 5px;
}

.button:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #fffffff3;
    
}




.arrow{
    font-family: 'Montserrat', sans-serif;
    margin-right: 6px;
}

.button:hover .arrow{
    
    
    position: relative;
  -webkit-animation: infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes run {
    0% {
      left: 0%;
    }
    50% {
      left: 3%;
    }
    100% {
      left: 0%;    
    }
  }

  #paragraph{
    margin-top: 5%;
    margin-bottom: 2%;
  }

  

  #container1{
    background-color: #1D121A;
    padding: 20px;
    z-index: 1;
    margin-top: -10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  

  #subcontainer1 h2{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 500;
    line-height: 3px;
    font-size: .8rem;
    margin-left: 9%;
    margin-top: 10%;
  }

  #subcontainer2{
    display: grid;
    grid-template-columns: 1fr;
    
  }

  #subcontainer3{
    display: grid;
    grid-template-columns: 1fr;
    
  }


  #subcontainer2 img{
    width: 22%;
    margin-top: 7%;
   
        
    
  }

  #subcontainer3 img{
    width: 22%;
    margin-top: 19%;
    margin-left: 10%;
        
  }



  #subcontainer2 p{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: .5rem;
    margin-top: -10%;  
  }

  #subcontainer3 p{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: .5rem;
    margin-left: 10%;
   
  }

  #container2{
    background-color: #ffffffe2;
  }

  #title1{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: .6rem;
    margin-top: 11%;
    
    
    
  }
   

  #subcontainer4{
    width: 60%;
    margin-left: 8%;
    
  }
  #title2{
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    margin-top: -4%;
  }






